.btnbase {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.primary_btn {
    background: $primary-gradient;
    color: #fff;
    line-height: 40px;
    // padding: .85rem .75rem;
    // border: 1px solid $primary-color;
    // box-shadow: rgb(80, 243, 243) 0px 1px 0px 0px inset;
    padding: 0 .75rem;
    @include border-radius(20px);
    transition: color .15s ease-in-out;

    &:hover {
        color: #fff;
        background: lighten($primary-color, 5%);
        box-shadow: 0 10px 20px 0 #cbab8b33;
    }

    &:disabled {
        background: linear-gradient(rgb(185, 185, 185), rgb(170, 170, 170));
        color: #fff;
        border: 1px solid $border-color;
        cursor: default !important;
        box-shadow: none;

        &:hover {
            color: #fff;
            background: linear-gradient(rgb(144, 144, 144), rgb(124, 124, 124));
        }
    }
}

.outline_btn {
    background: transparent;
    // padding: .85rem .75rem;
    // line-height: 38px;
    padding: 0 .75rem;
    line-height: 30px;
    outline: none;
    @include border-radius(20px);
}

.outline_btn.color-primary {
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: color .15s ease-in-out;
    &:hover {
        background: $primary-color;
        color: #fff;
        border: 1px solid $primary-color;
    }
}

.sec_btn {
    // color: #fff;
    width: 100%;
    display: inline-block;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    padding: 0 .7rem;
    outline: none;
    border: none;
    @include border-radius(13px);
    transition: color .15s ease-in-out;

}

.sec_btn.color-primary {
    background: $primary-gradient;
    color: #fff;

    &:hover {
        background: linear-gradient(180deg, #b78255 0%, #F1D3B6 100%);
        outline: 0;
    }
}

.sec_btn.color-blue {
    background: linear-gradient(180deg, #32C5FE 0%, #017DDC 100%);
    color: #fff;

    &:hover {
        background: linear-gradient(180deg, #017DDC 0%, #32C5FE 100%);
        outline: 0;
    }
}

.sec_btn.outline {
    background: transparent;
    color: $primary-color;
    border: 1px solid $border-color;

    &:hover,
    &:focus {
        color: #fff;
        border: 1px solid $primary-color;
        background: lighten($primary-color, 10%);
        outline: 0;
    }
}

.third_btn {
    color: $second-text-color;
    width: 128px;
    height: 42px;
    text-align: center;
    border-radius: 33px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 3px 6px rgba(98, 141, 211, .16);
    background-image: url(/img/third_btn.png);

    &.active,&:hover {
        background-image: url(/img/third_btn_a.png);
        color: #fff;
        box-shadow: 0 3px 6px $primary-color;
    }
}


.status-tab {
    display: flex;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: $border-color;
    border-radius: 4px;
    background: linear-gradient(to top, #edf1f4, #fdfffe);
    overflow: hidden;
}

.status-switch {
    box-sizing: border-box;
    color: $base-text;
    cursor: pointer;
    min-width: 70px;
    width: 100%;
    line-height: 37px;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    border-right: 1px solid $border-color;
    font-size: 15px;

    // &:last-of-type{
    //     border-right: none;
    // }
    &:hover,
    &:active,
    &.active {
        color: #fff;
        background: $primary-gradient;
        border-right: 1px solid $primary-color;
        box-shadow: rgb(80, 243, 243) 0px 1px 0px 0px inset;
        ;
    }
}

.status-btn {
    background: $primary-gradient;
    border-radius: 4px;
    min-width: 70px;
    min-height: 39px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border: 1px solid $primary-color;
    box-shadow: rgb(80, 243, 243) 0px 1px 0px 0px inset;
    ;

    &:hover {
        color: #fff;
        background: lighten($primary-color, 10%);
    }

}