//footer
.footer {
    font-size: 13px;
    height: 210px;
    text-align: center;
    @include flex(column,center,center);
    // align-items: center;
    // justify-content: center;
    padding: 25px 0;
    background: linear-gradient(180deg, #3F4764 0%, #3A4159 100%);

    .article-menu {
        height: 18px;
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 33px auto 18px;

        li {

            padding-left: 15px;
            padding-right: 15px;
            border-right: 1px solid #515B7C;

            &:last-of-type {
                border-right: none;
            }

            a {
                text-decoration: none;
                color: $base-text;
                display: inline-block;
                transition: color .15s ease-in-out;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .copyright {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px 16px;
        // color: $light-text-color;
    }
}