/* ------------------------------_form-------------------------- */

.form-label {
    width: 100%;
    font-size: 15px;
    margin-bottom: .6rem;
    font-weight: 600;
}

.form-label2 {
    width: 100%;
    font-size: 18px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;

    .label-right {
        font-size: 14px;
        position: absolute;
        right: 0;
    }
}

// 充值 下注列表
.method-btn-wrap {
    display: flex;
    flex-wrap: wrap;

    .trans-input[placeholder] {
        color: $second-text-color;
    }

    .trans-input {
        &:focus {
            box-shadow: 0 0 0 4px #00cdff21 inset;
        }
    }

    &>div,
    &>.trans-input {
        text-align: center;
        cursor: pointer;
        font-size: $base-size;
        width: calc((100% - (10px * 3)) / 4);
        margin-right: 10px;
        max-height: 45px;
        margin-bottom: 15px;

        &.flex2 {
            flex: 2;
            margin-right: 0;
        }

        &:nth-child(4),
        &:nth-child(8) {
            margin-right: 0;
        }

        &:active,
        &:hover,
        &:focus,
        &.active {
            border-color: $main-color;
            color: $main-color;
            outline: 0;
        }

    }

    .method-input {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: 1rem;
        color: $base-text;
        border: 1px solid $border-color;
        margin-bottom: 10px;
        outline: none;
        -webkit-appearance: none;

        &::placeholder {
            color: $second-text-color;
        }

        &:first-of-type {
            background: transparent;
            border-radius: 3px 0 0 3px;
        }

        &:last-of-type {
            background: $inputbg;
            border-left: none;
            border-radius: 0 3px 3px 0;
        }
    }
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    clear: both;

    .form-select {
        width: 100%;
        line-height: 43px;
        padding: 0 15px;
        font-size: 16px;
        border: 1px solid $border-color;
        color: $base-text;
        border-radius: 3px;
        outline: none;
        position: relative;
        cursor: pointer;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url(../img/btn_select.png) no-repeat scroll transparent;
        background-position: right 15px center;
        background-color: #fff;

        &:disabled {
            background-color: $inputbg;
            border-color: $inputbg;
            cursor: default;
        }

        .placeholder {
            color: $second-text-color;
            position: relative;
            top: -4px;
        }

        .iconfont {
            position: absolute;
            right: 15px;
            color: $light-text-color;
            top: 10px;
        }
    }

    .input-group {
        position: relative;
    }

    input[type="date"] {
        position: relative;
        padding: 10px;
        color: $base-text;
        font-size: 15px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }

    input[type="date"]:before {
        color: transparent;
        background: none;
        display: block;
        font-family: "iconfont";
        content: '\e67b';
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 15px;
        color: $second-text-color;
    }

    .form-copy {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: $base-size;
        border: 1px solid $border-color;
        background: $inputbg;
        color: $base-text;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        outline: none;
        -webkit-appearance: none;
    }

    .btn_copy {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 22px;
        color: $main-color;
        position: absolute;
        top: 12px;
        right: 16px;
    }

    .form-input {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: $base-size;
        border: 1px solid $border-color;
        background: $inputbg;
        color: $base-text;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        outline: none;
        -webkit-appearance: none;
        &::placeholder {
            color: $second-text-color;
        }
        &:focus {
            border-color: $main-color;
            box-shadow: 0 0 0 4px #00cdff21 inset;
        }
        &:disabled {
            opacity: .7;
            border-color: $inputbg;
        }
    }

    .btn_cancel {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 22px;
        color: $main-color;
        position: absolute;
        top: 12px;
        right: 16px;
        display: none;

        &.show {
            display: block;
        }
    }

    .captcha {
        font-size: 13px;
        color: $main-color;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        padding: 4px 10px;
        top: 12px;
        right: 5px;
        border-left: 1px solid $border-color;

        &:hover {
            color: lighten($main-color, 10%);
        }
    }

    .btn_eye {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 22px;
        color: $main-color;
        position: absolute;
        top: 12px;
        right: 15px;
    }

    small {
        font-size: 13px;
    }

    input[type=checkbox] {
        width: 16px;
        height: 16px;
    }

    .form-check-label {
        font-size: 13px;
    }
}

.form-control {
    color: $base-text;
    height: 45px;
}

.form-date-picker {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    span {
        width: 10%;
        text-align: center;
    }
}

// 充值紀錄、明细 表格

.thead {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    background: $primary-gradient;
    color: #fff;
    height: 45px;
    text-align: center;

    // border-radius: 4px 4px 0 0;
    &>div {
        @include flex(row, center, center);
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.tth {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 45px;
    font-size: 15px;
    background: #fff;
    text-align: center;

    &:nth-of-type(2n+1) {
        background: $tablebg;
    }

    &>div {
        @include flex(row, center, center);
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

// 资金明细
table.cash-inner {
    @include box-shadow;
    width: 100%;

    tr {
        height: 42px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        cursor: pointer;
        background: #fff;

        &:hover {
            background: #dffbff !important;
        }

        &:nth-of-type(odd) {
            background: $tablebg;

            &:hover {
                background: #dffbff !important;
            }
        }

        &:first-of-type {
            background: $primary-gradient !important;
            color: #fff;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            border-radius: 4px 4px 0 0;

            &:hover {
                background: $primary-gradient !important;
            }

        }

        &:last-of-type {
            border-radius: 0 0 4px 4px;
        }

        td {
            font-size: 15px;
        }

        th,
        td {
            @include flex(row, center, center);
            padding-left: .5rem;
            padding-right: .5rem;

            &:nth-of-type(1) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 12%;
                flex: 0 0 12%;
                max-width: 12%;
            }

            &:nth-of-type(2) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 16%;
                flex: 0 0 16%;
                max-width: 16%;
            }

            &:nth-of-type(3) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 18%;
                flex: 0 0 18%;
                max-width: 18%;
            }

            &:nth-of-type(4) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 21%;
                flex: 0 0 21%;
                max-width: 21%;
            }

            &:nth-of-type(5) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 16%;
                flex: 0 0 16%;
                max-width: 16%;
            }

            &:nth-of-type(6) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 17%;
                flex: 0 0 17%;
                max-width: 17%;
            }
        }
    }
}

// checkbox
.form-checkbox {
    position: relative;
    cursor: pointer;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;

    .input-check {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;

        &+.checkmark {
            border: 1px solid $check-border;
            background: $tablebg;
            display: block;
            // position: absolute;
            // left: 0;
            // top: 0;
            height: 16px;
            width: 16px;
            border-radius: 3px;
            margin-right: 4px;
        }

        &+.checkmark::after {
            content: "\e676";
            position: absolute;
            font-family: 'iconfont' !important;
            color: #fff;
            font-size: 12px;
            display: none;
        }

        &:checked+.checkmark {
            position: relative;
            background: $main-color;
            @include flex(row, center, center);
            text-align: center;
            flex-wrap: wrap;
        }

        &:checked+.checkmark:after {
            display: block;
        }
    }

}

// radio
.form-radio {
    position: relative;
    cursor: pointer;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;

    .input-check {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;

        &+.checkmark {
            border: 1px solid $check-border;
            background: $tablebg;
            display: block;
            // position: absolute;
            // left: 0;
            // top: 0;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            margin-right: 4px;
        }

        &+.checkmark::after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            content: '';
            position: absolute;
            background: $main-color;
            display: none;

        }

        &:checked+.checkmark {
            position: relative;
            @include flex(row, center, center);
            text-align: center;
            flex-wrap: wrap;
        }

        &:checked+.checkmark:after {
            display: block;
        }
    }

}

// toggle switch
.form-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked+.slider {
            background: $main-color;

            &:before {
                -webkit-transform: translateX(22px);
                -ms-transform: translateX(22px);
                transform: translateX(22px);
            }

            &::after {
                display: none;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $border-color;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 24px;

        &::after {
            content: '关';
            font-size: 12px;
            position: absolute;
            bottom: 6px;
            right: 7px;
            color: $second-text-color;
        }

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            border-radius: 50%;
            left: 2px;
            bottom: 2px;
            background: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

//upload file
.form-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    min-height: 80px;

    .text-area {
        border: 1px dashed $border-color;
        background: #fff;
        color: $main-color;
        font-size: 14px;
        width: 100%;
        border-radius: 4px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            line-height: 1.4;
            margin-top: 5px;
            font-size: 13px;
        }

    }

    .iconfont {
        cursor: pointer;
        padding-top: 15px;
        font-size: 20px;
        color: #fff;
        margin-right: 5px;

        &::before {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $main-color;
            @include box-shadow;
        }

        &:hover,
        &:focus,
        &:active {
            &:before {
                background: lighten($main-color, 10%);
            }
        }
    }

    input[type=file] {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}