// header
.navbar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .08);
}

.head {
    @include flex(row, center, center);
    height: 40px;
    width: 100%;
    background-color: $primary-color;
    border-bottom: 1px solid rgba(235, 235, 235, .4);


    .headbox {
        width: 100%;
        @include flex(row, space-between, center);
        position: relative;

    }
}

.leftbox {
    // width: 65%;
    opacity: .9;
    @include flex(row, flex-start, center);
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 0;

    .lang {
        cursor: pointer;
        flex-wrap: nowrap;
        @include flex(row, flex-start, center);
        transition: all 0.15s ease-out;

        &:hover {
            color: #E8E3D9;
            // img {
            //     filter: brightness(1.1);
            //     -webkit-filter: brightness(1.1);
            // }
        }
    }
}

.rightbox {
    @include flex(row, flex-end, center);
    // width: 35%;
    font-size: 14px;
    position: absolute;
    right: 0;

    .name {
        color: #fff;
        margin-right: 10px;
        margin-left: 10px;
    }

    .vip-level {
        background-color: #fff;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        line-height: 12px;
        padding: 1px 5px;
        border-radius: 2px;
        color: $primary-color;
    }

    .account {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #fff;
        margin-left: 10px;
        margin-right: 8px;

    }

    .link {
        color: #E8E3D9;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.nav-bg {
    background: linear-gradient(180deg, #FBFCFF 0%, #FFFFFF 100%);
    width: 100%;


    .nav-content {
        @include flex(row, flex-start, center);
        height: 70px;
        box-sizing: border-box;

        .logo {
            background: transparent;
            width: 110px;
            height: auto;

        }

        .menu {
            @include flex(row, flex-start, center);
            margin-left: 3rem;
            // flex: 1;

            li {
                position: relative;
                @include flex(row, flex-start, center);
                padding: 0 1rem;

                a {
                    color: $base-text;
                    background: transparent;
                    font-size: 16px;
                    overflow: hidden;
                    padding: .5rem 0;
                    text-decoration: none;
                    @include flex(row, center, center);
                    transition: all 0.15s ease-out;
                    position: relative;

                    &:hover,
                    &:active,
                    &.active {
                        color: $primary-color;

                        &::after {
                            content: "";
                            display: block;
                            width: 80%;
                            height: 3px;
                            border-radius: 3px;
                            position: absolute;
                            bottom: 0;
                            background: $primary-color;
                        }
                    }
                }
            }
        }
    }
}




// .page-link {
//     color: $primary-color;

//     &:hover {
//         color: #999
//     }
// }

// .page-item.active .page-link {
//     border-color: $primary-color;
//     background-color: $primary-color;
// }

// .page-item.disabled .page-link {
//     color: $second-text-color
// }

// nav side
.nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 1rem;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
    width: 62px;
    height: 480px;
    padding: 1rem .6rem;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 8px #0000000F;
    border-radius: 10px;
    @include flex(column, center, center);

    &.hide {
        display: none;
    }

    .item {
        margin-bottom: 20px;
        position: relative;

        a {
            text-decoration: none;
            @include flex(column, center, center);
            color: $base-text;

            &:hover {
                color: $primary-color;

                img {
                    filter: brightness(1.1);
                }
            }

            h2 {
                margin-top: 5px;
                font-size: 13px;
            }
        }

        &:last-of-type {
            margin: 0;
        }

        .iconfont.clear {
            font-size: 22px;
            color: $second-text-color;
            width: 22px;
            height: 22px;
            display: block;

            &:hover {
                color: $primary-color;
                position: relative;
            }
        }
    }
}