@import 'veriable';
@import 'reset';
@import 'mixin';
@import 'button';
@import 'navmenu';
@import 'footer';
@import 'modals';
@import 'form';

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
}

body {
    background-color: $base-bg !important;
    color: $base-text !important;
}

.pointer {
    cursor: pointer;
}

.text-gold {
    color: $primary-color;
}

.text-red {
    color: $red-color;
}

.text-green {
    color: $green-color;
}

.text-blue {
    color: $primary-color;
}

.text-yellow {
    color: $yellow-color;
}

.show {
    display: block;
}

.laout {
    position: relative;
    margin: 0 auto;
    // width: 100%;
    max-width: 1200px;
    width: 1200px;
    // min-width: 980px;
}

.background-red {
    background: $red-color;
}

.background-lightred {
    background: $light-redbg !important;
}

.background-green {
    background: $green-color;
}

.background-blue {
    background: $primary-color;
}

.background-white {
    background: #fff;
}

.background-gray {
    background: $graybg;
}

.ft-18 {
    font-size: 18px;
}

.ft-16 {
    font-size: 16px;
}

.ft-15 {
    font-size: 15px;
}

.ft-14 {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #F0F0F0;
}

.border-bottom {
    border-bottom: 1px solid #F0F0F0;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: $third-text-color;
    line-height: 18px;
    width: 100%;
    padding-left: 12px;

    &::after {
        content: '';
        width: 5px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.color-primary {
        &::after {
            background: $primary-color;
        }
    }

    &.color-red {
        &::after {
            background: #E4B2B3;
        }
    }
}


.main {
    width: 100%;
    padding-top: 110px;
    // min-height: calc(100vh - 320px);
}

.data_null {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include flex(column, center, center);

    img {
        display: block;
        margin: 0 auto;
    }

    p {
        padding-top: 15px;
        color: $second-text-color;
    }
}


/* home
     ========================================================================== */

// banner
.main-banner {
    overflow: hidden;
    width: 100%;
    position: relative;

}

.swiper-container {
    width: 100%;

    .swiper-slide {
        width: auto;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 1920px !important;
            height: 600px !important;
            display: block;
        }
    }
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    @include border-radius(50%);
    display: inline-block;
    background: linear-gradient(180deg, #FFF5EB 0%, #CBAB8B 100%) !important;
    opacity: 1 !important;
    margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $primary-color !important;
    position: relative;
    @include flex(row, center, center);

    &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        @include border-radius(50%);
        border: 1px solid $primary-color;
        top: -4px;
        left: -4px;

    }
}

// 公告
.marquee-box {
    // overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-top: 15px;
    background-image: linear-gradient(180deg, #FEFEFF 14%, #ECF9FF 54%, #FEFFFF 98%);
    box-shadow: 0 3px 12px rgba(139, 160, 203, 0.55);

    p {
        position: absolute;
        white-space: nowrap;
        animation: marquee 20s linear infinite;
        padding: 0;
        margin: 0;

    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.appDownload-container {
    position: relative;

    .appDownload-leftbox {
        width: 710px;
        max-width: 710px !important;

        img {
            width: 710px;
            max-width: 710px !important;
            height: 650px;

            &:focus {
                outline: none;
            }
        }
    }

    .appDownload-rightbox {
        width: 490px;
        height: 655px;
    }

    .sideContent {
        .title {
            color: $third-text-color;
            font-size: 28px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .description {
            margin-bottom: 40px;
            color: $base-text;
        }

        .codeWraper {
            width: 196px;
            height: 206px;
            background-image: url(/img/bg-qrcode.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            margin-bottom: 25px;
        }

        .codeBottom {
            text-align: center;
            font-size: 14px;

            p {
                margin-bottom: 5px;
            }

            a {
                color: $primary-color;

                &:hover {
                    color: lighten($primary-color, 10%);
                    ;
                }
            }
        }
    }
}

.service-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.service-wrap {
    width: 1200px;

    .service-itemBox {
        float: left;
        position: relative;
        display: flex;
        align-items: center;
        width: 540px;
        margin-bottom: 30px;

        &:nth-of-type(odd) {
            margin-right: 120px;
        }

        .service-content {
            position: relative;
            margin-left: 10px;
            flex: 1;

            .title {
                color: $third-text-color;
                margin-bottom: 10px;
                font-weight: bold;

            }

            .description {
                font-size: 14px;
            }
        }
    }
}

/* my
     ========================================================================== */
.user-main {
    padding-top: 130px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.user-menu {
    width: 220px;
    min-height: 821px;
    box-sizing: border-box;
    background: #fff;
    @include border-radius(5px);
    box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);

    .user-name {
        color: $third-text-color;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .user-vip {
        background: linear-gradient(45deg, #FFDDBB 0%, #D1AF98 100%);
        ;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        line-height: 14px;
        padding: 1px 5px;
        border-radius: 2px;
        color: #fff;
        height: 16px;
        margin-left: 5px;
    }

    .safe-level {
        font-size: 14px;
        color: $base-text;
        margin-top: 5px;
    }

    .wall-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 30px;
        margin-bottom: 35px;

        li {
            cursor: pointer;
            @include flex(column, center, center);
            font-size: 14px;

            transition: all .15s ease-in-out;

            &:hover,
            &.active,
            &:active {
                color: $primary-color;

                .iconfont {
                    background: $primary-gradient;
                }
            }

            .iconfont {
                @include flex(row, center, center);
                width: 35px;
                height: 35px;
                font-size: 22px;

                color: #fff;
                @include border-radius(50%);
                background: $base-text;
                transition: all .15s ease-in-out;
            }
        }

    }

    .menu-inner {
        li {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 48px;
            padding: 0 28px;
            box-sizing: border-box;
            cursor: pointer;
            background: transparent;

            &::after {
                content: '';
                height: 48px;
                width: 3px;
                background-color: $primary-color;
                display: none;
                position: absolute;
                top: 0;
                left: 0;

            }

            &.active,
            &:active,
            &:hover {
                color: #fff;
                background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);

                &::after {
                    display: block;
                }
            }
        }
    }

}

.user-centerContent {
    width: 964px;
    padding: 30px;
    margin-left: 16px;
    box-sizing: border-box;
    background: #fff;
    height: auto;
    min-height: 821px;
    @include border-radius(5px);
    box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);

    .centerformLabel {
        max-width: 80px;
        width: 56px;
        // text-align: right;
        min-width: 72px;
        color: $base-text;
        font-size: 15px;
        margin-right: 10px;
    }

    .centerformIinput {
        width: 100%;
        height: 40px;
        font-size: 15px;
        border-radius: 4px;
        padding: 4px 15px;
        color: $base-text;
        border: 1px solid $input-border;
        -webkit-appearance: none;
        background-color: transparent;

        &::placeholder {
            color: $input-border;
        }

        &:focus {
            box-shadow: 0 0 20px 0 #f2eada;
            border-color: $primary-color;
        }
    }
}

//优惠活動
.promo-menuWrap {
    position: sticky;
    top: 126px;
    width: 198px;
    min-height: 460px;
    flex: 0 0 198px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    @include border-radius(5px);
    background: #fff;
    box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);

    .tab-inner {
        padding-top: 20px;
        padding-bottom: 20px;

        li {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 48px;
            padding: 0 28px;

            &.active,
            &:active,
            &:hover {
                color: #fff;
                background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);
            }
        }

    }
}

.promo-centerContent {
    margin-left: 32px;
    width: 970px;
    min-height: 600px;

    .promo-acyivityList {
        cursor: pointer;
        width: 968px;
        height: 218px;
        border: 1px solid #fff;
        position: relative;
        box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.25);
        @include border-radius(5px);
        overflow: hidden;
        transition: all .15s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        .imgBox {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        .itemText {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            padding: 30px;

            .tag {
                font-size: 14px;
                padding: 2px 5px;
                display: inline-block;
                color: #fff;
                border-radius: 3px;
                box-shadow: 0 2px 5px 0 rgba(139, 160, 203, 0.25);
            }

            .title {
                font-size: 28px;
                font-weight: bold;
                color: $primary-color;
                width: 450px;
                @include ellipsis;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .time {
                color: $second-text-color;
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}

.promo-infoContainer {
    width: 100%;
    margin-bottom: 30px;
    padding: 40px 30px 30px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid $input-border;
    box-shadow: 0 9px 16px 0 rgba(139, 160, 203, 0.09);
}
.promo-infoMain {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 50px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &::before{
        background-image: url(/img/promot-border_top.png);
        top: 0;
    }
    &::after{
        background-image: url(/img/promot-border_bottom.png);
        bottom: 0;
    }
    .promo-infoTitle{
        text-align: center;
        display: inline-block;
        background-color: #fff;
        font-size: 28px;
        padding:0 30px;
        font-weight: bold;
        color: $primary-color;
        position: absolute;
        min-width: 168px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .promo-contentWrap{
        padding: 50px 0;
        .content-middleBorder{
            min-height: 50px;
            padding: 0 30px;
            background-image: url(/img/promot-border_middle.png);
            background-position: 0 0;
            background-size: 100%;
            background-repeat: repeat-y;
        }
    }

}

// 關於AG、幫助中心、條款規則
.hp {
    width: 100%;
    min-height: calc(100vh - 159px);
    position: relative;

    .hp-box {
        padding: $base-size*2 $base-size $base-size $base-size;

        .content {
            width: 100%;
            min-height: 755px;
            display: flex;


            &::before,
            &::after {
                content: '';
                display: table;
            }

            .menu-wrap {
                position: sticky;
                top: 142px;
                width: 220px;
                height: 500px;
                float: left;
                margin-right: 16px;
                // font-size: 15px;
                border-radius: 4px;
                box-shadow: 0 10px 10px 0 rgba(137, 154, 193, .1);
                background-color: #fff;

                .menu {
                    width: 100%;
                    position: relative;
                    list-style-type: none;
                    padding: 15px 30px 15px 50px;

                    // border-bottom: 1px solid $border-color;
                    &.active {
                        color: $primary-color;
                        background: $tablebg;

                        .sub-menu {
                            display: block;
                        }
                    }

                    .menu-item {
                        cursor: pointer;
                        @include flex(row, flex-start, center);

                        .iconfont {
                            font-size: 20px;
                            margin-right: 10px;
                            position: absolute;
                            left: 20px;
                        }
                    }
                }

                .sub-menu {
                    display: none;
                    padding: 0;
                    color: $base-text;
                    font-size: 15px;

                    &.show {
                        li {
                            display: block;
                        }

                        .item.now {
                            color: $primary-color;

                        }

                        .title {
                            color: $primary-color;

                            &::after {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    &:first-of-type {
                        margin-top: 10px;
                    }

                    li {
                        display: none;
                        cursor: pointer;
                        padding: 8px 0 8px 0px;

                        &.title {
                            @include flex(row, flex-start, center);
                            padding: 8px 0;

                            .iconfont {
                                font-size: 18px;
                                position: absolute;
                                left: 22px;
                            }

                            &::after {
                                content: '\e673';
                                font-family: "iconfont";
                                font-weight: normal;
                                font-size: 12px;
                                position: absolute;
                                right: 20px;
                                transition: .3s ease;
                            }
                        }
                    }


                }
            }
        }

        .section-content {
            padding: 2rem;
            width: 1028px;
            height: auto;
            overflow-y: auto;
            background-color: #fff;
            float: left;
            border-radius: 4px;
            box-shadow: 0 10px 10px 0 rgba(137, 154, 193, .1);

            a {
                text-decoration: underline;
                color: $primary-color;
                cursor: pointer;
            }

            img {
                display: block;
                width: auto;
                height: auto;
                max-height: 100%;
                max-width: 100%;
                border: none;
                margin: 5px 0;
            }

            ol {
                list-style-type: decimal;
                list-style-position: outside;
                font-size: 15px;
                line-height: 24px;
                margin-left: 24px;
            }

            h3 {
                font-weight: 700;
                font-size: 20px;
            }

            p {
                font-size: 15px;
                line-height: 24px;
                margin-bottom: 16px;

                span {
                    color: $primary-color;
                }
            }


        }

    }
}

.check-inner {
    width: 100%;
    margin-top: 15px;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;

    .check-item {
        margin-bottom: 15px;
        width: 50%;

        &:first-of-type {
            width: 100%;
        }
    }
}