@import 'veriable';
@import 'reset';
@import 'mixin';
@import 'button';
@import 'navmenu';
@import 'footer';
// @import 'modals';
@import 'form';

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
}

body {
    background-color: $base-bg !important;
    color: $base-text !important;
}

.pointer {
    cursor: pointer;
}

.text-gold {
    color: $primary-color;
}

.text-red {
    color: $red-color;
}

.text-green {
    color: $green-color;
}

.text-blue {
    color: $primary-color;
}

.text-yellow {
    color: $yellow-color;
}

.show {
    display: block;
}

.laout {
    position: relative;
    margin: 0 auto;
    // width: 100%;
    max-width: 1200px;
    width: 1200px;
    // min-width: 980px;
}

.background-white {
    background: #fff;
}

.background-gray {
    background: $graybg;
}

.ft-18 {
    font-size: 18px;
}

.ft-16 {
    font-size: 16px;
}

.ft-15 {
    font-size: 15px;
}

.ft-14 {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid $border-color;
}

.border-bottom {
    border-bottom: 1px solid $border-color;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: $third-text-color;
    line-height: 40px;
    width: 100%;
    padding-left: 12px;

    &::after {
        content: '';
        width: 5px;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &.color-primary {
        &::after {
            background: $primary-color;
        }
    }

    &.color-red {
        &::after {
            background: $red-color;
        }
    }

    &.color-blue {
        &::after {
            background: $blue-color;
        }
    }
}


.main {
    width: 100%;
    padding-top: 110px;
    // min-height: calc(100vh - 320px);
}

.data_null {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include flex(column, center, center);

    img {
        display: block;
        margin: 0 auto;
    }

    p {
        padding-top: 15px;
        color: $second-text-color;
    }
}


/* home
     ========================================================================== */

// banner

.swiper-container {
    left: 50%;
    transform: translateX(-50%);

    .swiper-slide {
        width: auto;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            // width: 1920px !important;
            // max-width: 1920px !important;
            // height: 600px !important;
            display: block;
        }
    }
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    @include border-radius(50%);
    display: inline-block;
    background: linear-gradient(180deg, #FFF5EB 0%, #CBAB8B 100%) !important;
    opacity: 1 !important;
    margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $primary-color !important;
    position: relative;
    @include flex(row, center, center);

    &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        @include border-radius(50%);
        border: 1px solid $primary-color;
        top: -4px;
        left: -4px;

    }
}

// 公告
.marquee-box {
    // overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-top: 15px;
    background-image: linear-gradient(180deg, #FEFEFF 14%, #ECF9FF 54%, #FEFFFF 98%);
    box-shadow: 0 3px 12px rgba(139, 160, 203, 0.55);

    p {
        position: absolute;
        white-space: nowrap;
        animation: marquee 20s linear infinite;
        padding: 0;
        margin: 0;

    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.appDownload-container {
    position: relative;

    .appDownload-leftbox {
        width: 710px;
        max-width: 710px !important;

        img {
            width: 710px;
            max-width: 710px !important;
            height: 650px;

            &:focus {
                outline: none;
            }
        }
    }

    .appDownload-rightbox {
        width: 490px;
        height: 655px;
    }

    .sideContent {
        .title {
            color: $third-text-color;
            font-size: 28px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .description {
            margin-bottom: 40px;
            color: $base-text;
        }

        .codeWraper {
            width: 196px;
            height: 206px;
            background-image: url(/img/bg-qrcode.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            margin-bottom: 25px;
        }

        .codeBottom {
            text-align: center;
            font-size: 14px;

            p {
                margin-bottom: 5px;
            }

            a {
                color: $primary-color;

                &:hover {
                    color: lighten($primary-color, 10%);
                    ;
                }
            }
        }
    }
}

.service-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.service-wrap {
    width: 1200px;

    .service-itemBox {
        float: left;
        position: relative;
        display: flex;
        align-items: center;
        width: 540px;
        margin-bottom: 30px;

        &:nth-of-type(odd) {
            margin-right: 120px;
        }

        .service-content {
            position: relative;
            margin-left: 10px;
            flex: 1;

            .title {
                color: $third-text-color;
                margin-bottom: 10px;
                font-weight: bold;

            }

            .description {
                font-size: 14px;
            }
        }
    }
}

/* promotion
     ========================================================================== */
.promo-menuWrap {
    position: sticky;
    top: 126px;
    width: 198px;
    min-height: 460px;
    flex: 0 0 198px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    @include border-radius(5px);
    background: #fff;
    box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);

    .tab-inner {
        padding-top: 20px;
        padding-bottom: 20px;

        li {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 48px;
            padding: 0 28px;

            &.active,
            &:active,
            &:hover {
                color: #fff;
                background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);
            }
        }

    }
}

.promo-centerContent {
    margin-left: 32px;
    width: 970px;
    min-height: 600px;

    .promo-acyivityList {
        cursor: pointer;
        width: 968px;
        height: 218px;
        border: 1px solid #fff;
        position: relative;
        box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.25);
        @include border-radius(5px);
        overflow: hidden;
        transition: all .15s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        .imgBox {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        .itemText {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            padding: 30px;

            .tag {
                font-size: 14px;
                padding: 2px 5px;
                display: inline-block;
                color: #fff;
                border-radius: 3px;
                box-shadow: 0 2px 5px 0 rgba(139, 160, 203, 0.25);
            }

            .title {
                font-size: 28px;
                font-weight: bold;
                color: $primary-color;
                width: 450px;
                @include ellipsis;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .time {
                color: $second-text-color;
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}

.promo-infoContainer {
    width: 100%;
    margin-bottom: 30px;
    padding: 40px 30px 30px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid $input-border;
    box-shadow: 0 9px 16px 0 rgba(139, 160, 203, 0.09);
}

.promo-infoMain {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 50px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &::before {
        background-image: url(/img/promot-border_top.png);
        top: 0;
    }

    &::after {
        background-image: url(/img/promot-border_bottom.png);
        bottom: 0;
    }

    .promo-infoTitle {
        text-align: center;
        display: inline-block;
        background-color: #fff;
        font-size: 28px;
        padding: 0 30px;
        font-weight: bold;
        color: $primary-color;
        position: absolute;
        min-width: 168px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .promo-contentWrap {
        padding: 50px 0;

        .content-middleBorder {
            min-height: 50px;
            padding: 0 30px;
            background-image: url(/img/promot-border_middle.png);
            background-position: 0 0;
            background-size: 100%;
            background-repeat: repeat-y;
        }
    }

}

/* profile(member-center)
     ========================================================================== */
.user-main {
    padding-top: 130px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.user-menu {
    width: 220px;
    min-height: 821px;
    box-sizing: border-box;
    background: #fff;
    @include border-radius(5px);
    box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);

    .user-name {
        color: $third-text-color;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .user-vip {
        background: linear-gradient(45deg, #FFDDBB 0%, #D1AF98 100%);
        ;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        line-height: 14px;
        padding: 1px 5px;
        border-radius: 2px;
        color: #fff;
        height: 16px;
        margin-left: 5px;
    }

    .safe-level {
        font-size: 14px;
        color: $base-text;
        margin-top: 5px;
    }

    .wall-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 30px;
        margin-bottom: 35px;

        li {
            cursor: pointer;
            @include flex(column, center, center);
            font-size: 14px;
            transition: all .15s ease-in-out;

            &:hover,
            &.active {
                color: $primary-color;

                .iconfont {
                    background: $primary-gradient;
                }
            }

            .iconfont {
                @include flex(row, center, center);
                width: 35px;
                height: 35px;
                font-size: 22px;
                color: #fff;
                @include border-radius(50%);
                background: #C0C7DC;
                transition: all .15s ease-in-out;
            }
        }

    }

    .menu-inner {
        li {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 48px;
            line-height: 48px;
            padding: 0 28px;
            box-sizing: border-box;
            cursor: pointer;
            background: transparent;

            &::after {
                content: '';
                height: 48px;
                width: 3px;
                background-color: $primary-color;
                display: none;
                position: absolute;
                top: 0;
                left: 0;

            }

            &.active,
            &:active,
            &:hover {
                color: #fff;
                background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);

                &::after {
                    display: block;
                }

                .iconfont {
                    text-shadow: 0 2px 5px $primary-color;
                    color: #fff;

                }
            }

            .iconfont {
                font-size: 20px;
                margin-right: 10px;
                color: #C0C7DC;

                // &.ic-profile {
                // }

                // &.ic-vip {
                //     color: #FFB988;
                // }

                // &.ic-wallet {
                //     color: #CE7DFC;
                // }

                // &.ic-trans-record {
                //     color: #7DF0FF;
                // }
                // &.ic-bet-record{
                //     color: #FC7DA4;
                // }
                // &.ic-news{
                //     color: #FDD490;
                // }
                // &.ic-mail{
                //     color: #CE7DFC;
                // }
                // &.ic-friends{
                //     color: #7dfca7;
                // }
                // &.ic-feedback{
                //     color: #fdff80;
                // }
            }
        }
    }

}

.user-centerContent {
    width: 964px;
    padding: 30px;
    margin-left: 16px;
    box-sizing: border-box;
    background: #fff;
    height: auto;
    min-height: 821px;
    @include border-radius(5px);
    box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);

}

.gender {

    width: 100%;
    height: 40px;
    display: inline-block;
    @include border-radius(4px);
    background-color: #fff;
    border: 1px solid $input-border;
    color: $base-text;
    position: relative;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    &:hover,&.active{
        color: $primary-color;
        border-color: $primary-color;
    }
    &.active{

        &::after {
            position: absolute;
            right: -1px;
            top: -1px;
            content: "";
            display: block;
            background: url(/img/checkbox-a.svg) 0 0/100% 100% no-repeat;
            width: 24px;
            height: 24px;
        }
    }

}

/* deposit(member-center)
     ========================================================================== */

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

    &>div {
        margin: 0px 0px 20px 20px;
        user-select: none;
        cursor: pointer;
        position: relative;
        @include flex(row, center, center);
        border: 1px solid $input-border;
        border-radius: 4px;
        color: $third-text-color;
        transition: all .15s ease-in-out;

        &:first-of-type {
            margin-left: 0;
        }

        &:hover {
            border-color: $primary-color;
            box-shadow: 0 0 10px 0 $focus-shadow;
        }

        &.active {
            border-color: $primary-color;
            box-shadow: 0 0 10px 0 $focus-shadow;

            &::after {
                position: absolute;
                right: -1px;
                top: -1px;
                content: "";
                display: block;
                background: url(/img/checkbox-a.svg) 0 0/100% 100% no-repeat;
                width: 24px;
                height: 24px;
            }
        }
    }
}

/* withdraw(member-center)
     ========================================================================== */
//中心錢包、鎖定錢包
.account-container {
    flex: 1;
    // width: 100%;
    height: 90px;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: flex;
    align-items: center;

    &>div {
        width: 50%;
        padding: 20px 20px 20px 30px;
        height: 90px;
        display: flex;
        align-items: center;
        font-size: 15px;
        position: relative;

        .iconfont {
            color: #fff;
            font-size: 24px;
            margin-right: 10px;
            width: 45px;
            height: 45px;
            @include border-radius(50%);

        }

        .balance {
            font-weight: bolder;
            font-size: 20px;
            color: $third-text-color;
        }

        .outline_btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;

        }
    }

}

/* transfer(member-center)
     ========================================================================== */
// 遊戲館轉帳
.walletlist {
    position: relative;
    display: flex;

    li {
        // float: left;
        min-width: 211px;
        height: auto;
        min-height: 90px;
        max-height: 125px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 15px 15px 10px 15px;
        border: 1px solid $border-color;
        border-radius: 4px;
        box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);

        .clientName {
            font-size: 14px;
            color: $third-text-color;
            font-weight: 500;
            width: 112px;
        }

        .actionBtn {
            cursor: pointer;
            padding: 0 6px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            @include border-radius(14px);
            font-size: 13px;
            transition: none;
            display: inline-block;
            color: $second-text-color;
            border: 1px solid $border-color;
            transition: all .15s ease-in-out;

            &:hover {

                color: $primary-color;
                border-color: $primary-color;
            }

        }

        .transToggle {
            cursor: pointer;
            padding: 0 10px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            @include border-radius(14px);
            font-size: 13px;
            transition: none;
            display: inline-block;
            color: $second-text-color;

            transition: all .15s ease-in-out;

            &:hover {
                background: $primary-gradient;
                color: #fff;

            }
        }

        .money {
            font-family: Arial, Helvetica, sans-serif;
            color: $third-text-color;
            font-weight: bold;
            font-size: 18px;
            margin: 5px 0;
            display: block;
        }

        &:nth-of-type(4n) {
            margin-right: 0;
        }
    }
}

/* VIP(member-center)
     ========================================================================== */
.vip-levelContainer {
    width: 117px;
    height: 127px;
    display: block;
    position: relative;
    background-image: url(../img/vip-level.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .vip-num {
        position: absolute;
        left: 50%;
        text-align: center;
        bottom: 12px;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #4B2116;
    }
}

.chargeAndFLow {
    width: 300px;
    height: 80px;
    background: linear-gradient(to bottom, #f7fbff 0%, rgba(255, 255, 255, .45) 100%);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(224, 235, 255, .55);
    position: relative;
    padding: 10px 20px;

    &::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
    }

}

// 等級時間軸
.currGrade {
    position: relative;
    height: 70px;
    padding: 42px 16px 0;
    display: flex;
    justify-content: space-between;

    li {
        position: relative;
        width: 18px;
        height: 18px;
        background-image: url(../img/center/ic-vipLevel.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;

        &>i {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            user-select: none;
            line-height: 1;
            font-style: normal;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        &.active {
            background-image: url(../img/center/ic-vipLevel-a.png);

            &>i {
                color: $primary-color;
            }
        }
    }

    .process {
        position: absolute;
        top: 48px;
        left: 25px;
        height: 6px;
        width: 852px;
        // box-shadow: inset 0 1px 4px 0 #bdc1d0;
        background-color: $border-color;
        overflow: hidden;
    }
}

.nextGrade {
    position: relative;
    height: 110px;
    margin-top: 8px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f7fbff 0%, rgba(255, 255, 255, .45) 100%);
    box-shadow: 0 5px 5px 0 rgba(224, 235, 255, 87%), inset 0 2px 5px 0 #fff;
    padding: 15px;
    border: 1px solid #fff;
}

// VIP尊享
.currGradeEnjoy {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(224, 235, 255, 87%);

    li {
        text-align: center;
        overflow: hidden;
        flex: 1;
        height: 170px;
        padding: 20px 0;

        &:nth-of-type(2n) {
            background: linear-gradient(to bottom, #f7fbff 0%, rgba(255, 255, 255, .45) 100%);

        }

        .iconBox {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-size: 100%;
            background-image: url('../img/center/ic-vipEnjoy.png');

            &.ic-depositCount {
                background-position: 0 40%;
            }

            &.ic-withdrawlAmount {
                background-position: 0 100%;
            }

            &.ic-upgrade {
                background-position: 0 80%;
            }

            &.ic-birthday {
                background-position: 0 0%;
            }

            &.ic-redeEvelope {
                background-position: 0 60%;
            }

            &.ic-commission {
                background-position: 0 40%;
            }
        }

        &>p:nth-of-type(1) {
            font-size: 14px;
            height: 50px;
            margin-top: 5px;
        }

        &>p:nth-of-type(2) {
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: $third-text-color;
        }
    }
}

.vipDiscount {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
    font-size: 14px;

    tr {

        // width: 100%;
        background-color: #fbfcff;

        th {
            vertical-align: middle;
            border-bottom: 1px solid $border-color;
            user-select: none;
            height: 50px;
            text-align: center;
            color: $third-text-color;

            &:first-of-type {
                text-align: left;
                font-weight: 600;
                padding-left: 10px;
            }
        }

        td {
            vertical-align: middle;
            border-bottom: 1px solid $border-color;
            user-select: none;
            height: 50px;
            text-align: center;

            &:first-of-type {
                text-align: left;
                font-weight: 600;
                color: $third-text-color;
                padding-left: 10px;
            }
        }
    }
}

// 關於AG、幫助中心、條款規則
// .hp {
//     width: 100%;
//     min-height: calc(100vh - 159px);
//     position: relative;

//     .hp-box {
//         padding: $base-size*2 $base-size $base-size $base-size;

//         .content {
//             width: 100%;
//             min-height: 755px;
//             display: flex;


//             &::before,
//             &::after {
//                 content: '';
//                 display: table;
//             }

//             .menu-wrap {
//                 position: sticky;
//                 top: 142px;
//                 width: 220px;
//                 height: 500px;
//                 float: left;
//                 margin-right: 16px;
//                 // font-size: 15px;
//                 border-radius: 4px;
//                 box-shadow: 0 10px 10px 0 rgba(137, 154, 193, .1);
//                 background-color: #fff;

//                 .menu {
//                     width: 100%;
//                     position: relative;
//                     list-style-type: none;
//                     padding: 15px 30px 15px 50px;

//                     // border-bottom: 1px solid $border-color;
//                     &.active {
//                         color: $primary-color;
//                         background: $tablebg;

//                         .sub-menu {
//                             display: block;
//                         }
//                     }

//                     .menu-item {
//                         cursor: pointer;
//                         @include flex(row, flex-start, center);

//                         .iconfont {
//                             font-size: 20px;
//                             margin-right: 10px;
//                             position: absolute;
//                             left: 20px;
//                         }
//                     }
//                 }

//                 .sub-menu {
//                     display: none;
//                     padding: 0;
//                     color: $base-text;
//                     font-size: 15px;

//                     &.show {
//                         li {
//                             display: block;
//                         }

//                         .item.now {
//                             color: $primary-color;

//                         }

//                         .title {
//                             color: $primary-color;

//                             &::after {
//                                 transform: rotate(180deg);
//                             }
//                         }
//                     }

//                     &:first-of-type {
//                         margin-top: 10px;
//                     }

//                     li {
//                         display: none;
//                         cursor: pointer;
//                         padding: 8px 0 8px 0px;

//                         &.title {
//                             @include flex(row, flex-start, center);
//                             padding: 8px 0;

//                             .iconfont {
//                                 font-size: 18px;
//                                 position: absolute;
//                                 left: 22px;
//                             }

//                             &::after {
//                                 content: '\e673';
//                                 font-family: "iconfont";
//                                 font-weight: normal;
//                                 font-size: 12px;
//                                 position: absolute;
//                                 right: 20px;
//                                 transition: .3s ease;
//                             }
//                         }
//                     }


//                 }
//             }
//         }

//         .section-content {
//             padding: 2rem;
//             width: 1028px;
//             height: auto;
//             overflow-y: auto;
//             background-color: #fff;
//             float: left;
//             border-radius: 4px;
//             box-shadow: 0 10px 10px 0 rgba(137, 154, 193, .1);

//             a {
//                 text-decoration: underline;
//                 color: $primary-color;
//                 cursor: pointer;
//             }

//             img {
//                 display: block;
//                 width: auto;
//                 height: auto;
//                 max-height: 100%;
//                 max-width: 100%;
//                 border: none;
//                 margin: 5px 0;
//             }

//             ol {
//                 list-style-type: decimal;
//                 list-style-position: outside;
//                 font-size: 15px;
//                 line-height: 24px;
//                 margin-left: 24px;
//             }

//             h3 {
//                 font-weight: 700;
//                 font-size: 20px;
//             }

//             p {
//                 font-size: 15px;
//                 line-height: 24px;
//                 margin-bottom: 16px;

//                 span {
//                     color: $primary-color;
//                 }
//             }


//         }

//     }
// }

// .check-inner {
//     width: 100%;
//     margin-top: 15px;
//     @include flex(row, flex-start, center);
//     flex-wrap: wrap;

//     .check-item {
//         margin-bottom: 15px;
//         width: 50%;

//         &:first-of-type {
//             width: 100%;
//         }
//     }
// }