$main-color: #00dcff !default;
$vice-color-1: #00c2ff;
$vice-color-2: #4e4e4e;
$vice-color-3: #f4f4f9;
$primary-gradient: linear-gradient(#00DCFF 0%, #00C2FF 100%);
$base-bg: #f4f4f9;

$red-color: #F54C40;
$green-color: #52C94B;
$yellow-color: #F9AD0A;

$border-color: #ebebeb;
$check-border: #dddddd;
$base-size: 1rem !default;
$big-size-1: 1.25rem;
$big-size-2: 1.5rem;
$small-size-1: 0.5rem;
$small-size-2: 0.25rem;


// text color
$base-text: #4A5359;
$second-text-color: #A4A9AC;
$light-text-color: #ABBED3;

// background color
$graybg: #F4F4F9;
$inputbg: #f2f2f2;
$tablebg: #fafafa;
$light-redbg: #FFF4F3;
