$primary-color: #cbab8b;
$primary-gradient: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
$base-bg: #EAF4FD;

$red-color: #E4B2B3;
$blue-color:#32c5ff;
$green-color: #52C94B;
$yellow-color: #F9AD0A;

$border-color: #F0F0F0;
$input-border: #D8DCE7;
$focus-shadow: #f2eada;
$base-size: 1rem !default;


// text color
$base-text: #9da5bb;
$second-text-color: #858ca3;
$third-text-color: #515b7c;
$font-family:'微軟正黑體', "微软雅黑", "Microsoft YaHei", "Segoe UI", Arial, Helvetica, "Segoe UI", sans-serif;
// background color
$graybg: #F4F4F9;
$inputbg: #f2f2f2;
$tablebg: #fafafa;
$light-redbg: #FFF4F3;
