@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "微軟正黑體", "微软雅黑", "Microsoft YaHei", "Segoe UI", Arial, Helvetica, "Segoe UI", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  background-color: transparent;
}

blockquote,
q {
  quotes: none;
}

b,
strong {
  font-weight: bolder;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

img {
  border-style: none;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btnbase {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
}

.btnbase:hover, .btnbase:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary_btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  color: #fff;
  line-height: 40px;
  padding: 0 .75rem;
  border-radius: 20px;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.primary_btn:hover {
  color: #fff;
  background: #d3b89d;
}

.primary_btn:disabled {
  background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#aaaaaa));
  background: linear-gradient(#b9b9b9, #aaaaaa);
  color: #fff;
  border: 1px solid #F0F0F0;
  cursor: default !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary_btn:disabled:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#7c7c7c));
  background: linear-gradient(#909090, #7c7c7c);
}

.outline_btn {
  background: transparent;
  padding: 0 .75rem;
  line-height: 30px;
  outline: none;
  border-radius: 20px;
}

.outline_btn.color-primary {
  color: #cbab8b;
  border: 1px solid #cbab8b;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.outline_btn.color-primary:hover {
  background: #cbab8b;
  color: #fff;
  border: 1px solid #cbab8b;
}

.sec_btn {
  width: 100%;
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  padding: 0 .7rem;
  outline: none;
  border: none;
  border-radius: 13px;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.sec_btn.color-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  color: #fff;
}

.sec_btn.color-primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#b78255), to(#F1D3B6));
  background: linear-gradient(180deg, #b78255 0%, #F1D3B6 100%);
  outline: 0;
}

.sec_btn.color-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#32C5FE), to(#017DDC));
  background: linear-gradient(180deg, #32C5FE 0%, #017DDC 100%);
  color: #fff;
}

.sec_btn.color-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#017DDC), to(#32C5FE));
  background: linear-gradient(180deg, #017DDC 0%, #32C5FE 100%);
  outline: 0;
}

.sec_btn.outline {
  background: transparent;
  color: #cbab8b;
  border: 1px solid #F0F0F0;
}

.sec_btn.outline:hover, .sec_btn.outline:focus {
  color: #fff;
  border: 1px solid #cbab8b;
  background: #dbc5ae;
  outline: 0;
}

.third_btn {
  color: #858ca3;
  width: 128px;
  height: 42px;
  text-align: center;
  border-radius: 33px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(98, 141, 211, 0.16);
          box-shadow: 0 3px 6px rgba(98, 141, 211, 0.16);
  background-image: url(/img/third_btn.png);
}

.third_btn.active, .third_btn:hover {
  background-image: url(/img/third_btn_a.png);
  color: #fff;
  -webkit-box-shadow: 0 3px 6px #cbab8b;
          box-shadow: 0 3px 6px #cbab8b;
}

.status-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #F0F0F0;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#edf1f4), to(#fdfffe));
  background: linear-gradient(to top, #edf1f4, #fdfffe);
  overflow: hidden;
}

.status-switch {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #9da5bb;
  cursor: pointer;
  min-width: 70px;
  width: 100%;
  line-height: 37px;
  padding: 0 10px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  font-size: 15px;
}

.status-switch:hover, .status-switch:active, .status-switch.active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  border-right: 1px solid #cbab8b;
  -webkit-box-shadow: #50f3f3 0px 1px 0px 0px inset;
          box-shadow: #50f3f3 0px 1px 0px 0px inset;
}

.status-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  border-radius: 4px;
  min-width: 70px;
  min-height: 39px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  border: 1px solid #cbab8b;
  -webkit-box-shadow: #50f3f3 0px 1px 0px 0px inset;
          box-shadow: #50f3f3 0px 1px 0px 0px inset;
}

.status-btn:hover {
  color: #fff;
  background: #dbc5ae;
}

.navbar {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.08);
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  background-color: #cbab8b;
  border-bottom: 1px solid rgba(235, 235, 235, 0.4);
}

.head .headbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.headbox .leftbox {
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 0;
}

.headbox .leftbox .lang {
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.headbox .leftbox .lang:hover {
  color: #E8E3D9;
}

.headbox .rightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  position: absolute;
  right: 0;
}

.headbox .rightbox .name {
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.headbox .rightbox .name:hover {
  color: #E8E3D9;
}

.headbox .rightbox .vip-level {
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 12px;
  padding: 1px 5px;
  border-radius: 2px;
  color: #cbab8b;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.headbox .rightbox .vip-level:hover {
  background-color: #E8E3D9;
}

.headbox .rightbox .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #fff;
  margin-left: 10px;
  margin-right: 8px;
}

.headbox .rightbox .link {
  color: #E8E3D9;
  text-decoration: none;
}

.headbox .rightbox .link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#FBFCFF), to(#FFFFFF));
  background: linear-gradient(180deg, #FBFCFF 0%, #FFFFFF 100%);
  width: 100%;
}

.nav-bg .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bg .nav-content .logo {
  background: transparent;
  width: 110px;
  height: auto;
}

.nav-bg .nav-content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3rem;
}

.nav-bg .nav-content .menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.nav-bg .nav-content .menu li a {
  color: #9da5bb;
  background: transparent;
  font-size: 16px;
  overflow: hidden;
  padding: .5rem 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}

.nav-bg .nav-content .menu li a:hover, .nav-bg .nav-content .menu li a:active, .nav-bg .nav-content .menu li a.active {
  color: #cbab8b;
}

.nav-bg .nav-content .menu li a:hover::after, .nav-bg .nav-content .menu li a:active::after, .nav-bg .nav-content .menu li a.active::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  background: #cbab8b;
}

.nav-side {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  z-index: 10;
  margin-top: auto;
  margin-bottom: auto;
  width: 62px;
  height: 480px;
  padding: 1rem .6rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 8px #0000000F;
          box-shadow: 0px 0px 8px #0000000F;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-side.hide {
  display: none;
}

.nav-side .item {
  margin-bottom: 20px;
  position: relative;
}

.nav-side .item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9da5bb;
}

.nav-side .item a:hover {
  color: #cbab8b;
}

.nav-side .item a:hover img {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.nav-side .item a h2 {
  margin-top: 5px;
  font-size: 13px;
}

.nav-side .item:last-of-type {
  margin: 0;
}

.nav-side .item .iconfont.clear {
  font-size: 22px;
  color: #858ca3;
  width: 22px;
  height: 22px;
  display: block;
}

.nav-side .item .iconfont.clear:hover {
  color: #cbab8b;
  position: relative;
}

.footer {
  font-size: 13px;
  height: 210px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#3F4764), to(#3A4159));
  background: linear-gradient(180deg, #3F4764 0%, #3A4159 100%);
}

.footer .article-menu {
  height: 18px;
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 33px auto 18px;
}

.footer .article-menu li {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #515B7C;
}

.footer .article-menu li:last-of-type {
  border-right: none;
}

.footer .article-menu li a {
  text-decoration: none;
  color: #9da5bb;
  display: inline-block;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.footer .article-menu li a:hover {
  color: #fff;
}

.footer .copyright {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Fix body scroll */
.modal-open {
  position: fixed;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255, 255, 255, 0.97);
  margin: 5% auto 15% auto;
  border-radius: 5px;
  overflow: hidden;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #F0F0F0;
  width: 25%;
  min-height: 235px;
  /* Could be more or less, depending on screen size */
  min-width: 400px;
}

.modal-top {
  text-align: center;
  position: relative;
  padding: 1.5rem 2rem 1rem 2rem;
}

.modal-top .main-title {
  font-size: 1.6rem;
}

/* The Close Button (x) */
.close-btn {
  position: absolute;
  z-index: 11;
  right: 1rem;
  top: 1rem;
  color: #9da5bb;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  border: 1px solid #F0F0F0;
}

.close-btn::before {
  content: '\00D7';
  font-size: 28px;
  font-weight: normal;
  color: #858ca3;
  position: relative;
  bottom: 2px;
}

.close-btn:hover, .close-btn:focus {
  background: #cbab8b;
  border: 1px solid #cbab8b;
}

.close-btn:hover::before, .close-btn:focus::before {
  color: #fff;
}

.modal-main {
  padding: 2rem;
}

.modal-main .descript {
  font-size: 15px;
  margin-bottom: .5rem;
  line-height: 1.5rem;
}

.modal-main small {
  font-size: 14px;
  line-height: 1.5rem;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.35s;
  animation: animatezoom 0.35s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ------------------------------_form-------------------------- */
.form-label {
  width: 100%;
  font-size: 15px;
  margin-bottom: .6rem;
  font-weight: 600;
}

.form-label2 {
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  position: relative;
  color: #515b7c;
}

.form-label2 .label-right {
  font-size: 14px;
  position: absolute;
  right: 0;
  color: #cbab8b;
}

.formGroup {
  width: 100%;
  position: relative;
}

.formGroup .formInputGroup {
  line-height: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0 1px 15px 0 #fff;
          box-shadow: inset 0 1px 15px 0 #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.formGroup .formInputGroup .iconfont {
  width: 25px;
  height: 25px;
  color: #cbab8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 10px 0 8px;
}

.formGroup .formInputGroup .formInput {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  font-size: 16px;
  color: #fff;
  -webkit-appearance: none;
  background-color: transparent;
}

.formGroup .formInputGroup .formInput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.formGroup .formInputGroup .formInput:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.formGroup .formInputGroup .formInput::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.formGroup .formInputGroup .formInput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.formGroup .form-copy {
  width: 100%;
  padding: 9px 40px 10px 15px;
  font-size: 1rem;
  border: 1px solid #F0F0F0;
  background: #f2f2f2;
  color: #9da5bb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
}

.formGroup .btn_copy {
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #cbab8b;
  position: absolute;
  top: 8px;
  right: 16px;
}

.formGroup .btn_cancel {
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #cbab8b;
  position: absolute;
  top: 12px;
  right: 16px;
  display: none;
}

.formGroup .btn_cancel.show {
  display: block;
}

.formGroup .captcha {
  font-size: 13px;
  color: #cbab8b;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  padding: 4px 10px;
  top: 12px;
  right: 5px;
  border-left: 1px solid #F0F0F0;
}

.formGroup .captcha:hover {
  color: #dbc5ae;
}

.formGroup .btn_eye {
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #cbab8b;
  position: absolute;
  top: 12px;
  right: 15px;
}

.centerLabel {
  max-width: 80px;
  width: 56px;
  min-width: 72px;
  color: #9da5bb;
  font-size: 15px;
  margin-right: 10px;
}

.centerInput-wraper {
  position: relative;
}

.centerInput-wraper .righText {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  color: #cbab8b;
}

.centerInput {
  width: 100%;
  height: 40px;
  font-size: 15px;
  border-radius: 4px;
  padding: 4px 15px;
  color: #858ca3;
  border: 1px solid #D8DCE7;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.centerInput::-webkit-input-placeholder {
  color: #D8DCE7;
}

.centerInput:-ms-input-placeholder {
  color: #D8DCE7;
}

.centerInput::-ms-input-placeholder {
  color: #D8DCE7;
}

.centerInput::placeholder {
  color: #D8DCE7;
}

.centerInput:hover {
  border-color: #cbab8b;
}

.centerInput:focus {
  -webkit-box-shadow: 0 0 20px 0 #f2eada;
          box-shadow: 0 0 20px 0 #f2eada;
  border-color: #cbab8b;
}

.thead {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  color: #fff;
  height: 45px;
  text-align: center;
}

.thead > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.tth {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 45px;
  font-size: 15px;
  background: #fff;
  text-align: center;
}

.tth:nth-of-type(2n+1) {
  background: #fafafa;
}

.tth > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.formCheckbox {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formCheckbox .input-check {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

.formCheckbox .input-check + .checkmark {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  margin-right: 4px;
}

.formCheckbox .input-check + .checkmark::after {
  content: "\e676";
  position: absolute;
  font-family: 'iconfont' !important;
  color: #fff;
  font-size: 12px;
  display: none;
}

.formCheckbox .input-check:checked + .checkmark {
  position: relative;
  border: 1px solid #cbab8b;
  background: #cbab8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formCheckbox .input-check:checked + .checkmark:after {
  display: block;
}

.formCheckbox p {
  color: #fff;
}

.form-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.form-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form-switch input:checked + .slider {
  background: #cbab8b;
}

.form-switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

.form-switch input:checked + .slider::after {
  display: none;
}

.form-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F0F0F0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.form-switch .slider::after {
  content: '关';
  font-size: 12px;
  position: absolute;
  bottom: 6px;
  right: 7px;
  color: #858ca3;
}

.form-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  min-height: 80px;
}

.form-upload .text-area {
  border: 1px dashed #F0F0F0;
  background: #fff;
  color: #cbab8b;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-upload .text-area span {
  line-height: 1.4;
  margin-top: 5px;
  font-size: 13px;
}

.form-upload .iconfont {
  cursor: pointer;
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
}

.form-upload .iconfont::before {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #cbab8b;
  -webkit-box-shadow: 0px 0px 8px #0000000F;
          box-shadow: 0px 0px 8px #0000000F;
}

.form-upload .iconfont:hover:before, .form-upload .iconfont:focus:before, .form-upload .iconfont:active:before {
  background: #dbc5ae;
}

.form-upload input[type=file] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

body {
  background-color: #EAF4FD !important;
  color: #9da5bb !important;
}

.pointer {
  cursor: pointer;
}

.text-gold {
  color: #cbab8b;
}

.text-red {
  color: #E4B2B3;
}

.text-green {
  color: #52C94B;
}

.text-blue {
  color: #cbab8b;
}

.text-yellow {
  color: #F9AD0A;
}

.show {
  display: block;
}

.laout {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}

.background-white {
  background: #fff;
}

.background-gray {
  background: #F4F4F9;
}

.ft-18 {
  font-size: 18px;
}

.ft-16 {
  font-size: 16px;
}

.ft-15 {
  font-size: 15px;
}

.ft-14 {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #F0F0F0;
}

.border-bottom {
  border-bottom: 1px solid #F0F0F0;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  color: #515b7c;
  line-height: 40px;
  width: 100%;
  padding-left: 12px;
}

.section-title::after {
  content: '';
  width: 5px;
  height: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.section-title.color-primary::after {
  background: #cbab8b;
}

.section-title.color-red::after {
  background: #E4B2B3;
}

.section-title.color-blue::after {
  background: #32c5ff;
}

.main {
  width: 100%;
  padding-top: 110px;
}

.data_null {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_null img {
  display: block;
  margin: 0 auto;
}

.data_null p {
  padding-top: 15px;
  color: #858ca3;
}

/* home
     ========================================================================== */
.swiper-container {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-container .swiper-slide {
  width: auto;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF5EB), to(#CBAB8B)) !important;
  background: linear-gradient(180deg, #FFF5EB 0%, #CBAB8B 100%) !important;
  opacity: 1 !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #cbab8b !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet-active::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 1px solid #cbab8b;
  top: -4px;
  left: -4px;
}

.marquee-box {
  position: relative;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-top: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #FEFEFF), color-stop(54%, #ECF9FF), color-stop(98%, #FEFFFF));
  background-image: linear-gradient(180deg, #FEFEFF 14%, #ECF9FF 54%, #FEFFFF 98%);
  -webkit-box-shadow: 0 3px 12px rgba(139, 160, 203, 0.55);
          box-shadow: 0 3px 12px rgba(139, 160, 203, 0.55);
}

.marquee-box p {
  position: absolute;
  white-space: nowrap;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.appDownload-container {
  position: relative;
}

.appDownload-container .appDownload-leftbox {
  width: 710px;
  max-width: 710px !important;
}

.appDownload-container .appDownload-leftbox img {
  width: 710px;
  max-width: 710px !important;
  height: 650px;
}

.appDownload-container .appDownload-leftbox img:focus {
  outline: none;
}

.appDownload-container .appDownload-rightbox {
  width: 490px;
  height: 655px;
}

.appDownload-container .sideContent .title {
  color: #515b7c;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.appDownload-container .sideContent .description {
  margin-bottom: 40px;
  color: #9da5bb;
}

.appDownload-container .sideContent .codeWraper {
  width: 196px;
  height: 206px;
  background-image: url(/img/bg-qrcode.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: 25px;
}

.appDownload-container .sideContent .codeBottom {
  text-align: center;
  font-size: 14px;
}

.appDownload-container .sideContent .codeBottom p {
  margin-bottom: 5px;
}

.appDownload-container .sideContent .codeBottom a {
  color: #cbab8b;
}

.appDownload-container .sideContent .codeBottom a:hover {
  color: #dbc5ae;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-wrap {
  width: 1200px;
}

.service-wrap .service-itemBox {
  float: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  margin-bottom: 30px;
}

.service-wrap .service-itemBox:nth-of-type(odd) {
  margin-right: 120px;
}

.service-wrap .service-itemBox .service-content {
  position: relative;
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-wrap .service-itemBox .service-content .title {
  color: #515b7c;
  margin-bottom: 10px;
  font-weight: bold;
}

.service-wrap .service-itemBox .service-content .description {
  font-size: 14px;
}

/* my
     ========================================================================== */
.user-main {
  padding-top: 130px;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.user-menu {
  width: 220px;
  min-height: 821px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);
          box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);
}

.user-menu .user-name {
  color: #515b7c;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-menu .user-vip {
  background: linear-gradient(45deg, #FFDDBB 0%, #D1AF98 100%);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  padding: 1px 5px;
  border-radius: 2px;
  color: #fff;
  height: 16px;
  margin-left: 5px;
}

.user-menu .safe-level {
  font-size: 14px;
  color: #9da5bb;
  margin-top: 5px;
}

.user-menu .wall-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.user-menu .wall-menu li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.user-menu .wall-menu li:hover, .user-menu .wall-menu li.active {
  color: #cbab8b;
}

.user-menu .wall-menu li:hover .iconfont, .user-menu .wall-menu li.active .iconfont {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
}

.user-menu .wall-menu li .iconfont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  font-size: 22px;
  color: #fff;
  border-radius: 50%;
  background: #9da5bb;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.user-menu .menu-inner li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding: 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background: transparent;
}

.user-menu .menu-inner li::after {
  content: '';
  height: 48px;
  width: 3px;
  background-color: #cbab8b;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.user-menu .menu-inner li.active, .user-menu .menu-inner li:active, .user-menu .menu-inner li:hover {
  color: #fff;
  background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);
}

.user-menu .menu-inner li.active::after, .user-menu .menu-inner li:active::after, .user-menu .menu-inner li:hover::after {
  display: block;
}

.user-menu .menu-inner li.active .iconfont, .user-menu .menu-inner li:active .iconfont, .user-menu .menu-inner li:hover .iconfont {
  text-shadow: 0 2px 5px #cbab8b;
}

.user-menu .menu-inner li .iconfont {
  font-size: 19px;
  margin-right: 10px;
}

.user-centerContent {
  width: 964px;
  padding: 30px;
  margin-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  height: auto;
  min-height: 821px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);
          box-shadow: 0 10px 10px 0 rgba(139, 160, 203, 0.04);
}

.promo-menuWrap {
  position: -webkit-sticky;
  position: sticky;
  top: 126px;
  width: 198px;
  min-height: 460px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 198px;
          flex: 0 0 198px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);
          box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);
}

.promo-menuWrap .tab-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.promo-menuWrap .tab-inner li {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  height: 48px;
  padding: 0 28px;
}

.promo-menuWrap .tab-inner li.active, .promo-menuWrap .tab-inner li:active, .promo-menuWrap .tab-inner li:hover {
  color: #fff;
  background: linear-gradient(45deg, #F1D3B6 0%, #DBB290 100%);
}

.promo-centerContent {
  margin-left: 32px;
  width: 970px;
  min-height: 600px;
}

.promo-centerContent .promo-acyivityList {
  cursor: pointer;
  width: 968px;
  height: 218px;
  border: 1px solid #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.25);
          box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.25);
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.promo-centerContent .promo-acyivityList:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.promo-centerContent .promo-acyivityList .imgBox {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.promo-centerContent .promo-acyivityList .imgBox img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.promo-centerContent .promo-acyivityList .itemText {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 30px;
}

.promo-centerContent .promo-acyivityList .itemText .tag {
  font-size: 14px;
  padding: 2px 5px;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(139, 160, 203, 0.25);
          box-shadow: 0 2px 5px 0 rgba(139, 160, 203, 0.25);
}

.promo-centerContent .promo-acyivityList .itemText .title {
  font-size: 28px;
  font-weight: bold;
  color: #cbab8b;
  width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.promo-centerContent .promo-acyivityList .itemText .time {
  color: #858ca3;
  font-size: 14px;
  margin-bottom: 15px;
}

.promo-infoContainer {
  width: 100%;
  margin-bottom: 30px;
  padding: 40px 30px 30px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #D8DCE7;
  -webkit-box-shadow: 0 9px 16px 0 rgba(139, 160, 203, 0.09);
          box-shadow: 0 9px 16px 0 rgba(139, 160, 203, 0.09);
}

.promo-infoMain {
  position: relative;
}

.promo-infoMain::before, .promo-infoMain::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 50px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.promo-infoMain::before {
  background-image: url(/img/promot-border_top.png);
  top: 0;
}

.promo-infoMain::after {
  background-image: url(/img/promot-border_bottom.png);
  bottom: 0;
}

.promo-infoMain .promo-infoTitle {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  font-size: 28px;
  padding: 0 30px;
  font-weight: bold;
  color: #cbab8b;
  position: absolute;
  min-width: 168px;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.promo-infoMain .promo-contentWrap {
  padding: 50px 0;
}

.promo-infoMain .promo-contentWrap .content-middleBorder {
  min-height: 50px;
  padding: 0 30px;
  background-image: url(/img/promot-border_middle.png);
  background-position: 0 0;
  background-size: 100%;
  background-repeat: repeat-y;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}

.checkbox-container > div {
  margin: 0px 0px 20px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D8DCE7;
  border-radius: 4px;
  color: #515b7c;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.checkbox-container > div:first-of-type {
  margin-left: 0;
}

.checkbox-container > div:hover {
  border-color: #cbab8b;
  -webkit-box-shadow: 0 0 10px 0 #f2eada;
          box-shadow: 0 0 10px 0 #f2eada;
}

.checkbox-container > div.active {
  border-color: #cbab8b;
  -webkit-box-shadow: 0 0 10px 0 #f2eada;
          box-shadow: 0 0 10px 0 #f2eada;
}

.checkbox-container > div.active::after {
  position: absolute;
  right: -1px;
  top: -1px;
  content: "";
  display: block;
  background: url(/img/checkbox-a.svg) 0 0/100% 100% no-repeat;
  width: 24px;
  height: 24px;
}

.account-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 90px;
  position: relative;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-container > div {
  width: 50%;
  padding: 20px 20px 20px 30px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  position: relative;
}

.account-container > div .iconfont {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.account-container > div .balance {
  font-weight: bolder;
  font-size: 20px;
  color: #515b7c;
}

.account-container > div .outline_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}

.walletlist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.walletlist li {
  min-width: 211px;
  height: auto;
  min-height: 90px;
  max-height: 125px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 10px 15px;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);
          box-shadow: 0 2px 15px 0 rgba(139, 160, 203, 0.04);
}

.walletlist li .clientName {
  font-size: 14px;
  color: #515b7c;
  font-weight: 500;
  width: 112px;
}

.walletlist li .actionBtn {
  cursor: pointer;
  padding: 0 6px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 14px;
  font-size: 13px;
  -webkit-transition: none;
  transition: none;
  display: inline-block;
  color: #858ca3;
  border: 1px solid #F0F0F0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.walletlist li .actionBtn:hover {
  color: #cbab8b;
  border-color: #cbab8b;
}

.walletlist li .transToggle {
  cursor: pointer;
  padding: 0 10px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 14px;
  font-size: 13px;
  -webkit-transition: none;
  transition: none;
  display: inline-block;
  color: #858ca3;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.walletlist li .transToggle:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1D3B6), to(#b78255));
  background: linear-gradient(180deg, #F1D3B6 0%, #b78255 100%);
  color: #fff;
}

.walletlist li .money {
  font-family: Arial, Helvetica, sans-serif;
  color: #515b7c;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0;
  display: block;
}

.walletlist li:nth-of-type(4n) {
  margin-right: 0;
}
